*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;

}

main{
    height: 2000px;
    width: 85%;
    background-color: black;
}

#menu{
    background-color: rgb(0, 0, 0);
    height: 5%;
    display: flex;
    justify-content: space-between;
}

#logo{
    background-color: black;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#a1{
    background-color: black;
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: xx-large;
}

.barra{
    text-decoration: none;
    color: white;
}

.barra:hover{
    background-color: rgb(63, 71, 71);
    padding: 10px;
    border-radius: 10px;
}

.entrada{
    width: 20%;
    text-align: center;
    border-left: 2px solid white;
}

#a2{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.inicia,.registra{
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
    padding: 8px;
    border-radius: 20px;
}

.inicia{
    background-color: white;
}

.inicia:hover{
    background-color: rgb(16, 16, 20);
    color: white;
}

.registra{
    color: white;
    background-color: rgb(16, 16, 20);
}

.registra:hover{
    background-color: white;
    color: black;
}

#barra{
    background-color: rgb(43, 43, 37);
    height: 3.5%;
    margin: 5px;
}

h1{
    font-family: "Inter Tight", arial;
    font-weight: 700;
    font-size: 50px;
    color: white;
    text-align: center;
    letter-spacing: -0.5px;
}

#cuerpo{
    background-color: rgb(16, 16, 20);
    height: 77.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#izquierda{
    height: 90%;
    width: 20%;
    border: 5px solid #e6e6ea;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    color:rgb(182, 101, 233);
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: Inter;
    font-weight: 800;
    letter-spacing: 5px;
}

a{
    text-decoration: none;
}

.jj{
    text-decoration: none;
    color: gray;
    font-weight: 700;
}


.complemento1{
    height: 45%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: large;
    font-family: Inter;
}
.complemento2{
    height: 25%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: large;
    font-family: Inter;
}

.complemento3{
    height: 15%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: large;
    font-family: Inter;
}

#resto{
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title{
    margin-top: 35px;
    color:rgb(182, 101, 233);
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: Inter;
    font-weight: 800;
    letter-spacing: 5px;
}

hr{
    border: 2px solid rgb(182, 101, 233);
}

.varios{
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.marco{
    width: 45%;
    height: 20%;
    display: flex;
}

.imagen{
    width: 50%;
}
.text{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-family: Inter, arial;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}



#pie{
    background-color: black;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#mini{
    height: 35%;
    display: flex;
    width: 25%;
    justify-content: space-around;
    align-items: center;
}

.img{
    background-color: black;
    height: 64px;
    width: 64px;
}

#redes{
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.carcel{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.copy,.link{
    height: 40%;
}

.link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Inter;
    color: rgb(230, 230, 234);
    letter-spacing: 0.28px;
    font-weight: 400;
    font-size: 18px;
}

.copy{
    display: flex;
    align-items: center;
    font-size:15px;
    font-family: Inter;
    letter-spacing: 0.24px;
    font-style: normal;
    color: rgb(170, 170, 174);
}


.derecho{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
